{{define "yield"}}
<h1>FAQ</h1>
<h3>Why are you doing this?</h3>
<p>Because I need to learn to make money and web devs make money.</p>
<h3>Do you really think you will?</h3>
<p>Probably not but if I don't try I never will.</p>

{{end}}